* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "ff-meta-web-pro", sans-serif;
}

body {
    background-color: #F6EFE5;
}

/* Klasy uniwersalne */

.text__light {
    color: #fff;
}

.text__dark {
    color: var(--_home__navy) !important;
}

@media (min-width:850px) {
    .text__rotated {
        transform: rotateZ(-90deg);
        position: absolute;
        top: 32%;
        left: -15%;
    }
}

@media (min-width:1140px) {
    .text__rotated {
        top: 39%;
        left: -10%;
    }
}

.text__absolute {
    position: absolute;
    top: 5em;
    left: -2em;
}

.td-n {
    text-decoration: none;
}

.bg__dark {
    color: #fff;
    background-color: var(--_home__navy);
}

.bg__cyan {
    background-color: var(--_home__cyan);
}

.bg__pink {
    background-color: var(--_home__pink);
}

.p-1 {
    padding: 1em;
}

.p-relative {
    position: relative;
}

.pt-3 {
    padding-top: 3em;
}

.d-flex {
    display: flex;
}


@media (min-width:1120px) {
    .d-flex__pc {
        display: flex;
    }
}

@media (min-width:850px) {
    .d-flex__tablet {
        display: flex;
    }
}

.d-block {
    display: block;
}

.lh-15 {
    line-height: 1.5em;
}


.home {
    --_home__red: #f15a30;
    --_home__red__rgba: rgba(241, 90, 48, 0.9);
    --_home__navy: #0d2c40;
    --_home__cyan: #55C7DC;
    --_home__cyan__rgba: rgba(0, 188, 217, 0.8);
    --_home__pink: #C87AB2;
    --_home__link__color: #fff;
    --_home__sepia: #F6EFE5;
    color: var(--_home__navy);
}

.home p {
    margin-bottom: 1em;
    line-height: 1.6em;
}

.home a {
    color: var(--_home__link__color);
}

.home h3 {
    font-size: 1.6em;
    padding: .5em 0 1em 0;
}

/* Container */
@media (min-width:1120px) {
    .container {
        width: min(120em, 100%);
        margin: auto;
    }
}

/* Intro */

.intro {
    --_intro__height: 10em;
    /* 320px mobile*/
    /* Przenieść to do home?? */
}



@media (min-width:850px) {
    .intro {
        --_intro__height: 13.5em;
    }

}

@media (min-width:1120px) {
    .intro {
        display: flex;
        --_intro__height: 20em;
    }
}

/* Lewa część */

.intro__heading {
    background-color: var(--_home__red);
}


@media (min-width:1120px) {
    .intro__heading {
        width: 40%;
        background-color: var(--_home__pink);
    }
}

/* Rotated text */

.intro__heading__rotated {
    font-size: 1em !important;
    transform: rotateZ(-90deg);
}

.intro__heading__content {
    height: var(--_intro__height);
    width: 66.66666%;
    margin-left: auto;
    background: var(--_home__navy) url('img/star.svg') no-repeat left bottom;
    background-size: 50%;
    padding: 1em .5em;
}

@media (min-width:850px) {
    .intro__heading__content {
        font-size: 40px;
    }
}

@media (min-width:1120px) {
    .intro__heading__content {
        width: 50%;
        margin-left: auto;
        background-size: 100%;
        padding: 6em 0 0 .7em;
    }
}

/* Prawa część */

.intro__desc {
    background: var(--_home__pink) url("img/icons-3-pack.svg") no-repeat center bottom;
    background-size: contain;
    padding: 2em 1em 37% 1em;
}

@media (min-width:1120px) {
    .intro__desc {
        width: 60%;
        padding: 17em 2em;
    }
}

/* Enlightment */

@media(min-width:850px) {
    .enlightment {
        display: flex;
        padding: initial;
    }

    .enlightment__primary {
        padding: 2em 1em;
        width: 66.666%;
    }

    .enlightment__secondary {
        background-color: var(--_home__red__rgba);
        color: #ffffff;
        width: 33.333%;
        padding: 6em 1em 10em 1em;
    }
}

@media(min-width:1120px) {

    .enlightment__primary {
        width: 40%;
        margin-left: auto;
        padding: 8em 0;
    }

    .enlightment__secondary {
        width: 20%;
        background-color: var(--_home__cyan__rgba);
        color: #ffffff;
        margin-right: auto;
        padding: 8em 2em 16em 2em;
    }
}


/* About */
@media (min-width:850px) {
    .about {
        padding: 20em 0;
        background: url('img/house.jpg') no-repeat center center;
        background-size: cover;
        margin-top: -9em;
    }

    .about__content {
        width: 66.666%;
        background: var(--_home__navy) url('img/icon-half.svg') no-repeat right center;
        background-size: 40%;
        padding: 3em 6em 3em 6em;
    }
}

@media (min-width:1120px) {
    .about {
        margin-top: -7em;
    }

    .about__content {
        width: 40%;
        padding: 3em 10em 3em 9em;

    }
}

/* Benefits */

.benefits {
    background: var(--_home__cyan__rgba) url(img/icon-circles.svg) no-repeat center top;
    background-size: 33%;
    padding-top: 7em;
}

/* Participation */
@media (min-width:850px) {
    .participation {
        width: 66.666%;
    }

    .benefits {
        width: 33.333%;
        background-size: 100%;
        margin-top: -7em;
        padding: 20em 1em;
    }
}

@media (min-width:1120px) {
    .participation {
        width: 40%;
        margin: -6em 0 0 auto;
        background: var(--_home__sepia);
    }

    .benefits {
        width: 20%;
        margin-right: auto;
        margin-top: -17em;
        padding: 23em 1em;
    }
}


/* Requirements */

.requirements__link {
    margin-right: 0.5em;
}

@media (min-width:850px) {

    .requirements__links {
        position: absolute;
        left: -14em;
        top: -65em;
        flex-direction: column;
        line-height: 1.5em;
    }

    .requirements {
        --_requirements__height: 47em;
        height: var(--_requirements__height);
        width: 75%;
        margin: 2em 0 0 auto;
        padding: 0 2em;
    }

    /* Obrazek */

    .requirements:before {
        content: '';
        position: absolute;
        background: url('img/lamp.jpg') no-repeat left center;
        background-size: cover;
        left: -9%;
        width: 35%;
        height: var(--_requirements__height);
    }

    .requirements__heading {
        left: -5em;
        top: 3%;
        font-size: 3em !important;
    }
}

@media (min-width:1120px) {

    .requirements__links {
        left: -48em;
        top: -45em;
    }

    .requirements {
        --_requirements__height: 37em;
        width: 60%;
        columns: 2;
    }

    /* Obrazek */

    .requirements:before {
        background: url('img/lamp.jpg') no-repeat center center;
        left: 5%;
        width: 35%;
        height: var(--_requirements__height);
    }
}

/* Navigation */

.navigation__heading {
    padding: 3em 1em 2em 1em;
}

@media (min-width:850px) {
    .navigation__heading {
        background: transparent;
        position: absolute;
        top: 19em;
        right: 0;
    }
}

@media (min-width:1140px) {
    .navigation__heading {
        background: var(--_home__pink);
        width: 20%;
        position: initial;
        padding: 39em 2em;
    }
}

.navigation__content {
    counter-reset: content__card;
}

@media (min-width:850px) {
    .navigation__content {
        width: 100%;
        flex-wrap: wrap;
        background: var(--_home__pink);
        padding-top: 25em;
    }
}

@media (min-width:1140px) {
    .navigation__content {
        width: 80%;
        padding-top: 29em;
    }
}

.navigation__content__card {
    color: #fff;
    padding: 5em 1em 2em 1em;
}

@media (min-width:850px) {
    .navigation__content__card {
        width: 25%;
        padding: 8.5em 1em 2em 1em;
    }

    .navigation__content__card>a {
        display: block;
        line-height: 2em;
    }

    .navigation__content__card:first-child {
        padding-top: 37.5em;
        margin-top: -25em;
    }
}

@media (min-width:1140px) {
    .navigation__content__card:first-child {
        margin-top: -29em;
    }
}


.navigation__content__card::before {
    counter-increment: content__card;
    content: counter(content__card);
    font-size: 3em;
    display: block;
}

@media (min-width:850px) {
    .navigation__content__card::before {
        font-size: 7em;
    }
}

.navigation__content__card:nth-child(even) {
    background-color: var(--_home__red);
}

.navigation__content__card:nth-child(odd) {
    background-color: var(--_home__navy);
}

.navigation__content__card:nth-child(3),
.navigation__content__card:nth-child(7) {
    background-color: var(--_home__cyan);
}

/* Archieves */
@media (min-width:850px) {

    .archieves,
    .resources {
        position: relative;
        width: 25%;
        margin-left: 50%;
        padding: 10em 1em 10.75em 1em;
    }

    .resources__heading,
    .archieves__heading {
        left: -4em;
    }
}

/* Resources */

.resources {
    padding-bottom: 10em;
    background: var(--_home__cyan) url('img/icon-circles.svg') no-repeat center bottom;
    background-size: 35%;
}

@media (min-width:850px) {
    .resources {
        padding-bottom: 24em;
        padding-top: 2em;
        background: var(--_home__cyan) url(img/icon-circles.svg) no-repeat center bottom;
        background-size: 100%;
    }

    .resources__heading {
        top: 2.7em;
    }
}